@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.contenedor__padre {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99999999;
    user-select: none;

}

.title {
    margin: 0;
    position: relative;
    left: 5%;
    font-family: caveat;
    color: #fff;

    font-size: 2.5em;
}

.rutas {
    position: absolute;
    right: 5%;
    top: 0;
    width: 100px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 99999999;
}

svg {
    position: absolute;
    top: -50px;
    animation: llegarDeArriba--line .5s;
    transition: all .5s;
}


.padre__estudios--iconos {
    width: 100%;
    height: 70%;
    position: absolute;
    top: 65px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.E {
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    
}



.bx-medal {
    animation: llegarDeArriba--medal 1s;
    transition: all .5s;
}

.bx-folder-open {
    animation: llegarDeArriba--folder 1.5s;
    transition: all .5s;

}

@keyframes llegarDeArriba--line {
    0% {
        transform: translate(0, -500px);
    }
}

@keyframes llegarDeArriba--medal {
    0%{
        transform: translate(0, -500px);
    }
}

@keyframes llegarDeArriba--folder {
    0% {
        transform: translate(0, -500px);
    }
}

@media (max-width:800px) {
    .rutas {
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;
        z-index: 99999999;
    
    }

    .title {
        margin: 0;
        position: relative;
        left: 5%;
        font-family: caveat;
        color: #fff;
    
        font-size: 2em;
    }
}