<div class=".contenedor__padre--educacion" #educacion id="educacion">
  <div class="contenedor__educaciones">
    <div class="autodidacta">
      <h1>Autodidacta</h1>
      <p>
        Mi viaje como autodidacta en desarrollo web ha sido un emocionante viaje
        de autodescubrimiento y crecimiento. Desde el momento en que decidí
        aventurarme en este apasionante mundo, sabía que estaba tomando un
        camino desafiante pero lleno de oportunidades. Al principio, me encontré
        navegando por una gran cantidad de recursos en línea, tratando de
        entender los conceptos básicos de HTML, CSS y JavaScript. Cada línea de
        código que escribía y cada proyecto que emprendía era una lección
        valiosa. Cometí errores, experimenté frustraciones, pero también
        experimenté una gran sensación de logro cada vez que superaba un
        obstáculo.
      </p>
      <div class="contenedor--tech">
        <i class="bx bxl-html5"></i>
        <i class="bx bxl-css3"></i>
        <i class="bx bxl-javascript"></i>
      </div>
    </div>
    <div class="argentina--programa">
      <h1>ArgentinaPrograma</h1>
      <p>
        Durante mi tiempo en "Argentina Programa", tuve la oportunidad de
        sumergirme en el mundo de Angular. Este poderoso framework de JavaScript
        me permitió llevar mis habilidades en el desarrollo web al siguiente
        nivel, permitiéndome crear aplicaciones web modernas y altamente
        interactivas. A través de ejercicios prácticos y proyectos desafiantes,
        pude comprender profundamente los conceptos y las mejores prácticas de
        Angular.
        <br />
        <br />
        Además, uno de los aspectos más destacados de mi experiencia en el
        programa fue aprender a crear API REST utilizando Java y Spring Boot.
        Esta habilidad se ha vuelto cada vez más esencial en el desarrollo web,
        ya que permite la comunicación eficiente entre aplicaciones y la gestión
        de datos de manera efectiva. Gracias a la guía y el apoyo de los
        instructores y compañeros de estudio, pude desarrollar API REST robustas
        y escalables que se alineaban con las necesidades del mundo empresarial.
      </p>
      <div class="contenedor--tech--cessi">
        <i class="bx bxl-angular"></i>
        <i class="bx bxl-java"></i>
        <i class="bx bxl-spring-boot"></i>
      </div>
    </div>
  </div>
  <div class="certificados">
    <div class="certificado__cessi">
      <img src="./../../../assets/certif.png" alt="Certificado Adams contreras" class="certificado"/>
    </div>
  </div>
</div>
