<div class="contenedor__padre">
  <div class="box__left allBox" (click)="enfoque('box__left', true)">
    <div class="h1">Quien soy</div>
    <p class="oculto">
      - Soy Adams Contreras, un apasionado desarrollador web fullstack con un
      enfoque especializado en Angular. Mi fascinación por la tecnología y la
      creación de experiencias en línea excepcionales me ha llevado a dedicar mi
      carrera a este emocionante campo. Como desarrollador web fullstack,
      disfruto abordando desafíos tanto en el lado del cliente como en el
      servidor. Angular se ha convertido en mi herramienta de elección para
      crear aplicaciones web robustas y dinámicas. Mi objetivo es no solo
      escribir código, sino también diseñar soluciones que sean eficientes,
      atractivas y funcionales.
    </p>
  </div>

  <div class="box__right allBox" (click)="enfoque('box__right', true)">
    <div class="h1">Origen</div>
    <p class="oculto">
      Soy venezolano. Nací y crecí en la hermosa Venezuela, un país lleno de
      diversidad cultural y belleza natural. Mi origen venezolano ha influido en
      mi perspectiva y en mi aprecio por la riqueza de las culturas y
      tradiciones diversas.
    </p>
  </div>

  <div
    class="box__left--bottom allBox"
    (click)="enfoque('box__left--bottom', true)"
  >
    <div class="h1">Objetivo</div>
    <p class="oculto">
      Mi objetivo como desarrollador web fullstack es fusionar mi visión única
      en diseño para proporcionar experiencias excepcionales a los usuarios,
      mientras que al mismo tiempo aplico soluciones creativas para resolver
      desafíos en el backend. Creo en la importancia de unir la estética y la
      funcionalidad para crear productos y aplicaciones web que no solo sean
      atractivos, sino también altamente eficientes y efectivos.
    </p>
  </div>
  <div
    class="box__right--bottom allBox"
    (click)="enfoque('box__right--bottom', true)"
  >
    <div class="h1">Conclusion</div>
    <p class="oculto">
      En resumen, Adams Contreras es un apasionado desarrollador web fullstack
      con raíces en Venezuela y residencia en Argentina. Su objetivo principal
      es fusionar su visión única en diseño para proporcionar experiencias
      excepcionales a los usuarios, al mismo tiempo que aplica soluciones
      creativas para resolver desafíos en el backend. Su trayectoria incluye una
      variedad de proyectos emocionantes que han enriquecido sus habilidades y
      le han permitido colaborar con equipos talentosos. Adams está comprometido
      con la excelencia y busca constantemente nuevas formas de m ejorar y
      optimizar las experiencias en línea. Está ansioso por continuar creciendo
      y desarrollándose en el campo del desarrollo web, aprovechando al máximo
      su visión única y su capacidad para encontrar soluciones innovadoras que
      beneficien a los usuarios y a las organizaciones para las que trabaja.
    </p>
  </div>
</div>
