

.contenedor__padre {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    gap: 1em;
    width: 90vw;
    height: 100vh;
    overflow: hidden;
    border-radius: 20px;

    z-index: 0;
}

.allBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--fondo-blur);
    backdrop-filter: blur(2px);
    width: 200px;
    height: 100px;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    transition: all .5s;
    overflow: hidden;
    padding: 20px;
}

.allBox p {
    font-size: 1em;
    font-weight: 300;
    color: #fff;
}

.h1{
    color: #fff;
    font-size: 1.5em;
}

.enfocado {
    width: 25%;
    height: 300px;
    z-index: 10000;
}

.enfocadoMayor{
    height: 40%;
    width: 25%;
    z-index: 10000;
}

.oculto {
    display: none;
}

@media (max-width: 1000px) {
    .contenedor__padre {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        left: 50%;
        transform: translate(-50%);
        gap: 1em;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        border-radius: 20px;
        top: 100px;
        z-index: 100;
        margin-bottom: 150px;
    }

    .enfocado {
        width: 90%;
        height: 300px;
        z-index: 10000;
    }

    .enfocadoMayor{
        height: 600px;
        width: 90%;
        z-index: 10000;
    }
}